* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000000;
    color: #ffffff;
    line-height: 1.6;
}

header {
    .perfil {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
    background-color: #6200ff;
    color: white;
    text-align: center;
    padding: 40px;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.container {
    width: 80%;
    margin: 30px auto;
}

section {
    background: rgb(36, 34, 34);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #6f00ff;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

a {
    color: #4a90e2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}
}