<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio - Júlia Morales</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <img src="{{ url_for('static', filename='foto.jpeg') }}" alt="Foto de Júlia Morales" class="perfil">

        <h1>Júlia Morales</h1>
        <p>Estudante de Análise e Desenvolvimento de Sistemas</p>
    </header>

    <div class="container">

        <section>
            <h2>Sobre Mim</h2>
            <p>
                Sou uma estudante de Análise e Desenvolvimento de Sistemas,
                buscando experiência na área de desenvolvimento web e aprimorando
                constantemente minhas habilidades em programação.
            </p>
        </section>

        <section>
            <h2>Formações</h2>
            <ul>
                <li>Análise e Desenvolvimento de Sistemas - Uniasselvi</li>
                <li>Full Stack Developer - Udemy</li>
            </ul>
        </section>

        <section>
            <h2>Contato</h2>
            <p>
                Email:
                <a href="mailto:juliamorales2906@gmail.com">
                    juliamorales2906@gmail.com
                </a>
            </p>
        </section>

    </div>

    <footer>
        <p>&copy; 2026 - Júlia Morales | Portfólio Pessoal</p>
    </footer>

</body>
</html>
